/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
body {
  background: #050D34;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 19px;
  color: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* STYLE NAVBAR */
nav {
  z-index: 1;
  background: transparent;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  padding-top: 20px;
  transition: all 0.3s;
}
nav .nav-logo {
  margin-left: 10px;
  font-size: 35px;
  line-height: 55px;
  display: inline;
}
nav .nav-logo a {
  color: #fff;
  text-decoration: none;
}
nav .nav-logo span {
  color: red;
}
nav .nav-button {
  display: none;
}
nav .nav-menu {
  float: right;
  line-height: 55px;
  margin-right: 10px;
}
nav .nav-menu li {
  display: inline;
}
nav .nav-menu li a {
  padding: 5px 12px;
  color: white;
  text-decoration: none;
  font-size: 24px;
}
nav .nav-menu li a:hover {
  color: red;
}
.shrink {
  background: #000;
  border-bottom: 1px solid #fff;
  padding-top: 3px;
}
.shrink .nav-menu li {
  padding: 0;
}
@media (max-width: 850px) {
  nav {
    border-bottom: 1px solid #fff;
    padding-top: 3px;
    background: #000;
  }
  nav .nav-button {
    display: block;
    float: right;
  }
  nav .nav-menu {
    position: fixed;
    top: 60px;
    right: -999px;
    background: transparent;
    line-height: 40px;
  }
  nav .nav-menu li {
    display: block;
    text-align: center;
  }
  nav .opened {
    position: fixed;
    background: rgba(0, 0, 0, 0.67);
    border-bottom: 1px solid #fff;
    left: 0;
    right: 0;
    margin: 0;
  }
}
.c-hamburger {
  appearance: none;
  border-radius: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 55px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: -9999px;
  transition: background 0.3s;
  width: 55px;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  background: red;
  display: block;
  height: 5px;
  left: 5px;
  position: absolute;
  right: 5px;
  top: 25px;
}
.c-hamburger span::before {
  background-color: red;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  top: -15px;
  width: 100%;
}
.c-hamburger span::after {
  background-color: red;
  bottom: -15px;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  width: 100%;
}
.c-hamburger--htx {
  background-color: transparent;
}
.c-hamburger--htx span {
  transition: background 0s 0.3s;
}
.c-hamburger--htx span::before {
  transition-delay: 0.3s, 0s;
  transition-duration: 0.3s, 0.3s;
  transition-property: top, transform;
}
.c-hamburger--htx span::after {
  transition-delay: 0.3s, 0s;
  transition-duration: 0.3s, 0.3s;
  transition-property: bottom, transform;
}
.c-hamburger--htx.is-active span {
  background: none;
}
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
  transition-delay: 0s, 0.3s;
}
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
  transition-delay: 0s, 0.3s;
}
/* STYLE HEADER */
header {
  height: 100vh;
  background: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
}
header .container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
header .container span {
  position: absolute;
  bottom: 5px;
}
header .container span a {
  color: #fff;
  font-size: 45px;
}
header .container .header-text {
  border: 1px solid #fff;
}
header .container .header-text p {
  color: transparent;
}
header .container h1 {
  font-size: 2em;
  padding: 8px;
  line-height: 1;
  background: rgba(0, 0, 0, 0.7);
}
header .container h1 i {
  font-style: normal;
}
header .container h2 {
  padding: 0 15px;
  font-size: 1.4em;
  background: rgba(0, 0, 0, 0.7);
}
header .container h2 i {
  color: red;
  font-style: normal;
}
section {
  margin: 0 10px;
}
/* style about */
.about {
  padding: 10px 0;
}
.about .about-title {
  text-align: center;
}
.about .about-title h2 {
  font-size: 2em;
  color: red;
}
.about .about-title p {
  padding-top: 15px;
  padding-bottom: 5px;
  color: red;
}
.about .about-text p {
  color: #fff;
  text-align: center;
}
.about-info {
  left: 10px;
  right: 10px;
  color: #fff;
}
.about-info i {
  color: #1c2f8d;
  font-size: 89px;
  height: 89px;
  float: left;
}
.about-info p {
  padding-left: 95px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.about-info .single-col {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  width: 31.33%;
  height: auto;
  margin: 0 -1px -1px 0;
  margin: 1%;
}
@media (max-width: 1092px) {
  .about-info .single-col {
    width: 48%;
  }
}
@media (max-width: 630px) {
  .about-info .single-col {
    width: 98%;
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* style about-work */
.about-work {
  color: #fff;
  margin: 0;
  padding: 10px 0;
}
.about-work p {
  text-align: center;
  margin: 0 10px;
}
.about-work-title {
  text-align: center;
}
.about-work-title h2 {
  font-size: 2em;
  color: red;
}
/* style projects */
.projects {
  padding-bottom: 25px;
}
.projects-container {
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
}
.projects-title {
  text-align: center;
  color: #fff;
}
.projects-title h2 {
  font-size: 33px;
  color: red;
}
.project {
  border: 1px solid red;
  box-sizing: border-box;
  margin: 0 -1px -1px 0;
  width: 25%;
  height: auto;
  min-height: 250px;
  background-size: cover;
  position: relative;
}
@media (max-width: 890px) {
  .project {
    width: 50%;
  }
}
@media (max-width: 450px) {
  .project {
    width: 100%;
  }
}
@media (min-width: 891px) {
  .project:first-of-type {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .project:first-of-type .project-info {
    border-top-left-radius: 15px;
  }
  .project:nth-of-type(4) {
    border-top-right-radius: 15px;
  }
  .project:nth-of-type(4) .project-info {
    border-top-right-radius: 15px;
  }
  .project:nth-of-type(5) {
    border-bottom-left-radius: 15px;
  }
  .project:nth-of-type(5) .project-info {
    border-bottom-left-radius: 15px;
  }
  .project:last-of-type {
    border-bottom-right-radius: 15px;
  }
  .project:last-of-type .project-info {
    border-bottom-right-radius: 15px;
  }
}
@media (min-width: 451px) and (max-width: 890px) {
  .project:first-of-type {
    border-top-left-radius: 15px;
  }
  .project:first-of-type .project-info {
    border-top-left-radius: 15px;
  }
  .project:nth-of-type(2) {
    border-top-right-radius: 15px;
  }
  .project:nth-of-type(2) .project-info {
    border-top-right-radius: 15px;
  }
  .project:nth-last-of-type(2) {
    border-bottom-left-radius: 15px;
  }
  .project:nth-last-of-type(2) .project-info {
    border-bottom-left-radius: 15px;
  }
  .project:last-of-type {
    border-bottom-right-radius: 15px;
  }
  .project:last-of-type .project-info {
    border-bottom-right-radius: 15px;
  }
}
@media (max-width: 450px) {
  .project:first-of-type {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .project:first-of-type .project-info {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .project:last-of-type {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .project:last-of-type .project-info {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
.project1 {
  background: url("../images/paral2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.project2 {
  background: url("../images/projectpage.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.project3 {
  background: url("../images/port2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.project4 {
  background: url("../images/codingbg.png");
}
.project-info {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background: rgba(241, 14, 14, 0.63);
  opacity: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
@media (max-width: 850px) {
  .project-info {
    opacity: 1;
  }
}
.project-info:hover {
  opacity: 1;
}
.project-info .triangle-left {
  border-top: 35px solid transparent;
  border-bottom: 35px solid blue;
  border-left: 35px solid blue;
  border-right: 35px solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 0;
  border-bottom-left-radius: 10px;
  transition: all 0.5s;
}
.project-info .triangle-left i {
  position: absolute;
  bottom: -25px;
  left: -25px;
  font-size: 25px;
  color: red;
}
.project-info .triangle-left:hover {
  border-bottom-color: yellow;
  border-left-color: yellow;
}
.project-info .triangle-left:hover i {
  color: red;
}
.project-info .triangle-right {
  border-top: 35px solid transparent;
  border-bottom: 35px solid blue;
  border-left: 35px solid transparent;
  border-right: 35px solid blue;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  width: 0;
  border-bottom-right-radius: 10px;
  transition: all 0.5s;
}
.project-info .triangle-right i {
  position: absolute;
  bottom: -25px;
  right: -25px;
  font-size: 25px;
  color: red;
}
.project-info .triangle-right:hover {
  border-bottom-color: yellow;
  border-right-color: yellow;
}
.project-info .triangle-right:hover i {
  color: red;
}
.contact {
  text-align: center;
}
.contact h2 {
  font-size: 33px;
  color: red;
}
footer {
  background: #3362e2;
  text-align: center;
}
